[Desktop Entry]
Categories=
Comment=Поиск замены депозита в облигациях
Exec=node /home/mike/2024_bond_search 2>&1 | tee /home/mike/2024_bond_search/log/log_$(date +%F_%T).txt
GenericName=Поиск замены депозита в облигациях
Icon=
Keywords=Поиск замены депозита в облигациях
MimeType=
Name=Поиск замены депозита в облигациях
NoDiplay=false
Path=/home/mike/2024_bond_search/
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=